:root{
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);


--border-radius: 10px;

}


/* 
- Mobile: 375px
- Desktop: 1440px 
*/

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    
}

body{
    background-color: var(--light-gray);
    padding: 0;
    margin: 0;
    font-size: 15px;
}


main{
    background-color: var(--white);
    margin: 85px auto 80px auto;
    max-width: 320px;
    height: 497px;
    border-radius: var(--border-radius);  
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.header{
    background: url(images/image-qr-code.png);
    background-position: top left;
    background-size: cover;
    height: 287px;
    width: 287px;
    margin: 16px auto 16px auto;
    border-radius: var(--border-radius)

}

.section{
    display: flex;
    flex-direction: column;
    
    margin: 9px 18px;
    text-align: center;
    
    
}

.section h2{
    font-weight: 700;
    color: var(--dark-blue); 

}

.section p{
    margin: 10px;
    font-weight: 400;
    color: var(--grayish-blue)
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }