:root{
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
--border-radius: 10px;

}


/* 
- Mobile: 375px
- Desktop: 1440px 
*/

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%;
    
}

body{
    background-color: var(--light-gray);
    padding: 0;
    margin: 0;
    display: grid;
    min-height: 100vh;
    place-content: center;
    
}


main{
    background-color: var(--white);
    max-width: 320px;
    height: 497px;
    border-radius: var(--border-radius);  
    display: grid;
    align-items: center;
    justify-items: center;
    
    
}

.header{
    
    height: 287px;
    width: 287px;
    border-radius: var(--border-radius)

}

img{
    max-width: 285px;
    border-radius: var(--border-radius);
}

.section{
    display: flex;
    flex-direction: column;
    margin: 9px 18px;
    text-align: center;
    
    
}

.section h1{
    font-weight: 700;
    color: var(--dark-blue); 
    font-size: 1.8rem;
    

}

.section p{
    margin: 10px;
    font-weight: 400;
    color: var(--grayish-blue);
    font-size: 1.5rem;
}




.attribution { font-size: 1.1rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); font-size: 1.1rem}